#### name =  input("Enter name: ")
rno =  input("Enter rno: ")
sub1 =int(input("Enter sub1 marks: "))
sub2 = int(input("Enter sub2 marks: "))
sub3 = int(input("Enter sub3 marks: "))
sum =sub1+sub2+sub3
avg = sum/3
print("sum:",sub1+sub2+sub3)
print("Name:",name)
print("Rno:",rno)
print("Sub1:",sub1)
print("Sub2:",sub2)
print("Sub3:",sub3)
print("Sum:",sum)
print("Avg:",avg)

no_of_students=int(input("Enter how many students :"))
students={}
for i in range(no_of_students):
    s_list=[]
    rno=(input("Enter rno: "))
    name=input("Enter name: ")
    s_list.append(name)
    sub1=int(input("Enter sub1: "))
    s_list.append(sub1)
    sub2=int(input("Enter sub2 : "))
    s_list.append(sub2)
    sub3=int(input("Enter sub3 : "))
    s_list.append(sub3)
    total=sub1+sub2+sub3
    s_list.append(total)
    avg=total/3
    s_list.append(avg)
    if sub1>=35 and sub2>=35 and sub3>=35:
        print("pass")
    #s_list.append(pass)
    else:
        print("Fail")
      #s_list.append(Fail)
    students[rno]=s_list
    repeat=0
    while repeat==1:
        print("1_display all students details")
        print("2_display total and avg mrks of each student")
        print("3_display total of given roll no")
        print("4_display specified subject marks of given roll no")
        print("5_display result of the given roll no")

In [3]:
country_capitals = {"India":"delhi","Germany":"Berlin","Canada":"Ottowa"}
print(country_capitals)

{'India': 'delhi', 'Germany': 'Berlin', 'Canada': 'Ottowa'}

In [7]:
country_capitals = {"India":"delhi","Germany":"Berlin","Canada":"Ottowa"}
country_capitals["Italy"]="Rome"
print(country_capitals)

{'India': 'delhi', 'Germany': 'Berlin', 'Canada': 'Ottowa', 'Italy': 'Rome'}

In [10]:
country_capitals = {"India":"delhi","Germany":"Berlin","Canada":"Ottowa"}
del country_capitals["Canada"]
print(country_capitals)

{'India': 'delhi', 'Germany': 'Berlin'}

In [11]:
country_capitals = {"India":"delhi","Germany":"Berlin","Canada":"Ottowa"}
country_capitals.clear()
print(country_capitals)

{}

In [12]:
today=["Monday",("Feb"),[17]]
print(today)

['Monday', 'Feb', [17]]

In [19]:
today=["Monday",("Feb"),[17]]
print(today)
today.reverse()

['Monday', 'Feb', [17]]

In [1]:
tup=(1,2,3,4,5)
print(type(tup))

<class 'tuple'>

In [2]:
tup=(1,3,4,5,6)
print(type(tup))
tup.append(9)

<class 'tuple'>

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
zoo_animal=("loin","cheetah","giraffie","rabbit","peacock",(1,2,3,4,5))
print(zoo_animal[5][2])

3

In [7]:
zoo_animal=("loin","cheetah","giraffie","rabbit","peacock",("lilly","rose","mariegold"))
print(zoo_animal[5][1])

rose

In [12]:
zoo_animal=("loin","cheetah","giraffie","rabbit","peacock",("lilly","rose","mariegold"))
print(zoo_animal[2:])

('giraffie', 'rabbit', 'peacock', ('lilly', 'rose', 'mariegold'))

In [14]:
zoo_animal=("loin","cheetah","giraffie","rabbit","peacock",("lilly","rose","mariegold"))
print(zoo_animal[0:])

('loin', 'cheetah', 'giraffie', 'rabbit', 'peacock', ('lilly', 'rose', 'mariegold'))

In [15]:
t=(10,20,30,40,(100,200,300,400))
print(t[4][2])

300

In [16]:
t=(10,20,30,40,(100,200,300,400))
print(t[-1][-1])

400

In [17]:
list=list(t)
print(list)

[10, 20, 30, 40, (100, 200, 300, 400)]

In [32]:
list1=list(t)
print(list)
print(list.pop(3))

TypeError: 'list' object is not callable

In [34]:
dict={'a':28,'b':29}
print(dict)

{'a': 28, 'b': 29}

In [36]:
dict={428:"vysh",429:"pops"}
print(dict)

{428: 'vysh', 429: 'pops'}

In [47]:
dict={204:"vysh",208:"vysh",390:"vysh"}
print(dict)
print(dict(1:4:1))

SyntaxError: invalid syntax (3076660849.py, line 3)

In [49]:
x=int(input("enter x value"))
y=int(input("enter y value"))
print(x)
print(y)
print(x-y)

enter x value 5
enter y value 3

5
3
2

In [53]:
#write a program which can accept both string or an integer if string is an input it has get concatinate and if integer it has to get add

NameError: name 'vysh' is not defined

In [58]:
x=eval(input("enter the x value"))
y=eval(input("enter the y value"))
z=x+y
print(z)

enter the x value "vysh"
enter the y value "navi"

vyshnavi

In [1]:
x=input("Enter value")
type(x)

Enter value 10

str

In [2]:
x=input("Enter first value")
y=input("Enter second value")
i=int(x)
j=int(y)
print("The sum of:",i+j)

Enter first value 49
Enter second value 90

The sum of: 139

In [4]:
print("The sum:",int(input("Enter first number:"))+int(input("Enter second nuumber:")))

Enter first number: 39
Enter second nuumber: 90

The sum: 129

In [11]:
#write a program to read employee data from keyboard and print data
eno=int(input("Enter Employee No:"))
ename=(input("Enter Employee Name:"))
esal=float(input("Enter Employee salary:"))
eaddr=(input("Enter Employee adress:"))
print("Employee Details are:")
print("Employee No :",eno)
print("Employee Name :",ename)
print("Employee salary :",esal)
print("Employee adress :",eaddr)

Enter Employee No: 28
Enter Employee Name: vysh
Enter Employee salary: 80000
Enter Employee adress: hyd

Employee Details are:
Employee No : 28
Employee Name : vysh
Employee salary : 80000.0
Employee adress : hyd

In [8]:
a,b=[int(x) for x in input("Enter 2 numbers :").split()]
print("Product is :",a*b)

Enter 2 numbers : 12 10

Product is : 120

In [16]:
a,b,c=[float(x) for x in input("Enter 3 numbers :").split(',')]
print("sum is :",a+b+c)

Enter 3 numbers : 3,4,4

sum is : 11.0

In [18]:
x=eval("10+20+30")
print(x)

60

In [20]:
x=eval(input("Enter Expresion"))
print(x)

Enter Expresion 10*5/4

12.5

In [23]:
l=eval(input("Enter list:"))
print(type(l))
print(l)

Enter list: 10,30,"vyshu",90

<class 'tuple'>
(10, 30, 'vyshu', 90)

In [24]:
l=eval(input("Enter list/tuple/dict/set:"))
print(type(l))
print(l)

Enter list/tuple/dict/set: 10,4,'apple',0

<class 'tuple'>
(10, 4, 'apple', 0)

In [25]:
#set and all inbulit methods of set
print("vyshnavi")

vyshnavi

In [27]:
a="""working on python to improve my skills."""
b="""python is a easiest programming language among all languages"""
print(a,b)

working on python to improve my skills. python is a easiest programming language among all languages

In [30]:
print(20*'vysh\n')

vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh
vysh

In [31]:
print("Hello", end=' ')
print("Guys", end=' ')

Hello Guys

In [35]:
l=[10,20]
t=[90,80]
print(l)
print(t)

[10, 20]
[90, 80]

In [36]:
#we can use print statement with string and any number od arguments
s="vysh"
a=20
s1="python"
print("hello",s,"your age is",a)
print("your learning",s1)

hello vysh your age is 20
your learning python

In [40]:
a=3
b=7
c=8
print("a value is %d and b value is %d and c value is %d" %(a,b,c))

a value is 3 and b value is 7 and c value is 8

In [42]:
s="vysh"
list=[1,2,3,4]
print("Hello %s...The list of items are %s" %(s,list))

Hello vysh...The list of items are [1, 2, 3, 4]

In [44]:
#print with replacement operator {}
name='vysh'
salary=100000
job="trainer and facilitator"
print("Hello {0} your salary is {1} and your are working as{2} with multiple organizations".format(name,salary,job))
print("Hello {x} your salary is {y} and your are working as{2} with multiple organizations".format(name,salary,job))

Hello vysh your salary is 100000 and your are working astrainer and facilitator with multiple organizations

KeyError: 'x'

In [47]:
# 1 the teacher wants to grades og the students ina subject which data type should use
#ans:list
s='12345'
num=eval(s)
print(num)
type(num)

12345

int

In [51]:
detalis={"vysh":40000}
print(details)

NameError: name 'details' is not defined

In [53]:
tuple=(10,30,40)
ls=list(tuple)
print(ls)
ls.append(

TypeError: 'list' object is not callable

In [1]:
#set and all inbulit methods of set
#creating an empty set
my_set=set()

In [1]:
#set and all inbulit methods of set
my_set={1,2,3,4}

In [5]:
my_set={1,2,3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [8]:
#update()
my_set={1,2}
my_set.update([3,4,5])
print(my_set)

{1, 2, 3, 4, 5}

In [10]:
#remove
my_set={1,2,3}
my_set.remove(2)
print(my_set)

{1, 3}

In [11]:
#discard
my_set={1,2,3}
my_set.discard(2)
print(my_set)

{1, 3}

In [12]:
#pop
my_set={1,2,3}
removed_element=my_set.pop()
print(removed_element)
print(my_set)

1
{2, 3}

In [14]:
#clear
my_set={1,2,3}
my_set.clear()
print(my_set)

set()

In [16]:
#union 
set1={1,2,3}
set2={3,4,5}
result=set1.union(set2)
print(result)

{1, 2, 3, 4, 5}

In [17]:
#intersection
set1={1,2,3}
set2={3,4,5}
result=set1.intersection(set2)
print(result)

{3}

In [18]:
set1={1,2,3}
set2={3,4,5}
result=set1.difference(set2)
print(result)

{1, 2}

In [ ]:
#copy
set1={1,2,3}
set2=set1.copy()
print(set2)

p

In [2]:
set={28,"vysh","nisa",90}
print(set)

{90, 'vysh', 28, 'nisa'}

In [6]:
Employee_details={28:800000,26:700000,78:200000}
print(dict)

{28: 800000, 26: 700000, 78: 200000}

In [18]:
set_1={1,2,3}
print(set_1)
set_1.add('marks')
print(set_1)
print(type(set_1))
fs=frozenset(set_1)
print(type(fs))

{1, 2, 3}
{'marks', 1, 2, 3}
<class 'set'>
<class 'frozenset'>

AttributeError: 'frozenset' object has no attribute 'add'

In [25]:
list1=[1,2,3,4,5,6,7,3,5,2]
list2=list(dict.fromkeys(list1))
print(list2)

#dict={25:"vysh",26:"vysh",27:"vysh",28:"vysh")

TypeError: 'list' object is not callable

In [27]:
list1=["vysh","nisa","pooj","vysh","pooj"]
list2=list(dict.fromkeys(list1))
print(list2)

TypeError: 'list' object is not callable

In [29]:
for i in range(0,10,):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [40]:
l1=[1,2,3,4,5,6,7,8,9]
for l1 in range(0,9-1):
    print(l1)

0
1
2
3
4
5
6
7

In [43]:
x=100
print(isinstance(x,int))

True

In [45]:
l1=[1,4,2,'vysh',9,'nisa',8]
for i in l1(0,7-1):
    print(i)

TypeError: 'list' object is not callable

In [10]:
values=input("Enter numbers seperated by space: ").split()
values=[int(x) for x in values]
print(values)

Enter numbers seperated by space:  3 4 5 6

[3, 4, 5, 6]

In [12]:
n=int(input("Enter how many students"))
stud =[]
for i in range(n):
    r=int(input())
    stud.append(r)
print(stud)

Enter how many students 1
 40

[40]

l1=[10,20,30,40]
l2=[80,20,40,60]
l3=zip(11,23)
print(l3)

In [14]:
l1=[10,20,30,40]
l2=[40,20,50,80]
l3=zip(l1,l2)
print(list(l3))

[(10, 40), (20, 20), (30, 50), (40, 80)]

In [16]:
l1=int(input("Enter the students id: "))
l2=int(input("Enter the students marks: "))
for i in range(l1):
    for j in range(l2):
        id=int(input())
        student.append(id)
l3=zip(l1,l2)
print(list(l3))

Enter the students id:  20 30 40 50

ValueError: invalid literal for int() with base 10: '20 30 40 50'

In [22]:
str=("Hi Hi")
for i in str:
       if str==i:
           print("true")
       else:
           print("False")

False
False
False
False
False
Hi Hi

In [28]:
def count_words(sentence):
    words=sentence.lower().split()
    word_count={}
    for word in words:
        word = word.strip(",.!?")
        if word in word_count:
            word_count[word]+=1
        else:
            word_count[word]=1
    return word_count
sentence="Hello we we you us "
word_freq=count_words(sentence)
print(word_freq)

{'hello': 1, 'we': 2, 'you': 1, 'us': 1}

In [33]:
l1=[20,'vysh',80,39,'xyz',10,30]
l2=list(int.fromkeys(l1))
print(l2)

AttributeError: type object 'int' has no attribute 'fromkeys'

In [16]:
l1=eval(input("enter the list/set"))
l2=eval(input("enter the list/set"))
result=(l1.symmetric_difference(l2))
print(result)
l3=list(result)
print(l3)

enter the list/set {10,20,30,40}
enter the list/set {10,20,80,50}

{40, 80, 50, 30}
[40, 80, 50, 30]

In [ ]:
x={401:56,402:78,403:34,404:45,405:48}
l1=eval(input("Enter improved marks of students for the first time:"))
l2=eval(input("Enter improved marks of students for the second time:"))
l3=eval(input("Enter improved marks of students for the third time:"))
if

In [ ]:
#Take the input of rno and marks of 5 students and create a dictionary with rno as a key and marks as a value
#the students will have to appear for improvementt xam for 3 times.you wiill take improved marks as alist for 3 times .if a student did not take improvement test then it will be kept as -1.you need to consider improved marks only.if marks are less than previous attempt you need to ignore them

In [4]:
str=input("Enter want you want:")
if str=="footwear":
    print("Go right")
elif str=="Burger":
    print("Go left")
elif str=="parlour":
    print("Go straight")
else:
    print("Go home")

Enter want you want: footwear

Go right

In [9]:
integer=int(input("Enter the integer:"))
if integer==1:
    print("one")
elif integer==2:
    print("two")
elif integer==3:
    print("three")
elif integer==4:
    print("Four")
elif integer==5:
    print("five")
elif integer==6:
    print("six")
elif integer==7:
    print("seven")
elif integer==8:
    print("eight")
elif integer==9:
    print("nine")
else:
    print("Invalid one")

Enter the integer: 0

Invalid one

In [18]:
ls=[10,20,30,40]
for i in ls:
    print(i)

10
20
30
40

In [25]:
ls=[2,3,4,5,6]
sqr=[]
for i in ls:
    a=i**2
    sqr.append(a)
print(sqr)

[4, 9, 16, 25, 36]

In [30]:
ls=[1,2,4,8,9,-1,10]
for i in ls:
    print(i)
    if i==-1:
        break
else:
    print("loop successful")

1
2
4
8
9
-1

In [32]:
ls=[1,2,4,8,9,1,10]
for i in ls:
    print(i)
    if i==3:
        break
else:
    print("loop successful")

1
2
4
8
9
1
10
loop successful

In [10]:
n=int(input("Enter the numbers:"))
for i in range(2,n):
    if(n%i==0):
     print("not prime")
     break
else:
    print("prime number")

Enter the numbers: 4

not prime

In [9]:
num=[2,3,4,5,6,7,8]
for num in num:
    if num%2!=0:
        print("number is found:{num}")
else:
    print("number not found")

number is found:{num}
number is found:{num}
number is found:{num}
number not found

In [5]:
passwords = ["admin123","letmin","password","qwerty","hunter2"]
target_password = "securepass"
for pwd in passwords:
    print(f"Trying password:{pwd}")
    if pwd == target_password:
        print("password matched!")
        break
else:
    print("password not found ")

Trying password:admin123
Trying password:letmin
Trying password:password
Trying password:qwerty
Trying password:hunter2
password not found

In [6]:
s="vyshnavi"
for char in s:
    if s.count(char)==1:
        print(f"First non repeating character:{char}")
        break
else: 
    print("no unique character is found")

First non repeating character:y

In [12]:
str=["hello","hiii","hunk","hats","rats","rows","ramp"]
for len in str:
    if len(str)==1:
        print(f"same length:{str}")
        break
else:
    priny("not same length")

TypeError: 'str' object is not callable

In [ ]:
# list having 7 elements all are strings i need to know all the elements in string are equal in length using for else

In [18]:
a=10
b=5
c=a+b
d=a-b
e=a%b
f=a*b
g=a/b
print("sum is",c)
print("Diffrence is",d)
print("remainder is",e)
print("mulpication is",f)
print("division is",g)

sum is 15
Diffrence is 5
remainder is 0
mulpication is 50
division is 2.0

In [21]:
a=10
print('present value of a:',a)
print('present id of a:',id(a))
a+=5
print('updated value of a:',a)
print('updated id of a:',id(a))

present value of a: 10
present id of a: 140713280809688
updated value of a: 15
updated id of a: 140713280809848

In [23]:
a=10
b=-5
print("original a:",a)
print("negated a:",-a)
print("original b:",b)
print("negated b:",-b)

original a: 10
negated a: -10
original b: -5
negated b: 5

In [25]:
#relational operaters
a=20
b=20
print('a:',a,'b:',b)
print('a==b:',a==b)
a=20
b=30
print('a:',a,'b:',b)
print('a!=b:',a!=b)
print('a<b:',a<b)
print('a<=b:',a<=b)
print('a>b:',a>b)
print('a>=b:',a>=b)

a: 20 b: 20
a==b: True
a: 20 b: 30
a!=b: True
a<b: True
a<=b: True
a>b: False
a>=b: False

In [26]:
#logical operaters
a=30
b=30
print('a:',a,'b:',b)
print('a<b:',a<b)
print('a==b:',a==b)
print('a<b or a==b:',a<b or a==b)

a: 30 b: 30
a<b: False
a==b: True
a<b or a==b: True

In [27]:
#not operator
a=40
print('a:',a)
print('not a<50:',not(a<50))

a: 40
not a<50: False

In [32]:
a=28456
b=28456
print(id(a))
print(id(b))

2142773276272
2142773276368

In [34]:
#memeber ship operator
s="Learning python is very easy"
print("easy" in s)
print("Learn" in s)
print("learn" not in s)
print("easy" in s)
print("earn" in s)

True
True
True
True
True

In [5]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
rows=5
num=1
for i in range(1, rows + 1):
    for j in range(1,i+1):
        print(num,end=" ")
        num+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [17]:
rows=5
for i in range(1, rows + 1):
    for j in range(1,i+1):
        print("@",end=" ")
        num+=1
    print()

@
@ @
@ @ @
@ @ @ @
@ @ @ @ @

In [18]:
rows=5
for i in range(rows,0,-1):
    for j in range(i):
        print("@",end=" ")
    print()

@ @ @ @ @
@ @ @ @
@ @ @
@ @
@

In [26]:
rows=5
for i in range(1,rows+1):
    print(" " * (rows-i),end="")
    print("* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [27]:
rows=5
for i in range(rows,0,-1):
    print(" " * (rows-i),end="")
    print("* " * i)

* * * * *
 * * * *
  * * *
   * *
    *

In [30]:
rows=5
for i in range(1,rows+1):
    print(" " * (rows-i)+"* " * i)
for i in range(rows-1,0,-1):
    print(" " * (rows-i)+ "* " *i)

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [55]:
rows=3
num=1
for i in range(1,rows+1):
    for j in range(1,num+1):
         print(num,end=" ")
         num+=1
    print()

1
2 3
4 5 6 7

In [42]:
rows=2
num=2
for i in range(1,rows+1):
    for j in range(1,num+1):
         print(j,end=" ")
    print()

1 2
1 2 3 4

In [56]:
A=[[1,2,3],
   [4,5,6],
   [7,8,9]]
B=[[9,8,7],
   [6,5,4],
   [3,2,1]]
result = [[0,0,0] for _ in range(len(A))]
for i in range(len(A)):
    for j in range(len(A[0])):
        result[i][j] = A[i][j] + B[i][j]
for row in result:
    print(row)

[10, 10, 10]
[10, 10, 10]
[10, 10, 10]

In [13]:
more_items=1
while more_items==1:
    print("Menu items")
    id=int(input("Enter item id"))
    qty=int(input("Quntity"))
    more_items=int(input("Do you have more items 1-yes/0-No"))

Menu items

Enter item id 1
Quntity 2
Do you have more items 1-yes/0-No 1

Menu items

Enter item id 1
Quntity 2
Do you have more items 1-yes/0-No 0

In [26]:
id=int(input("Enter the id's of item"))
for i in range(id):
    i=i+1
    print(i)
name=input("Enter the name of item")
if name=="santoor soap":
    print("price=35.50")
elif name=="Head and shoulders":
    print("price=75.00")
elif name=="Onions":
    print("price=25.00")
else:
    print("Item is not avaliable")

Enter the id's of item 5

1
2
3
4
5

Enter the name of item good day

Item is not avaliable

In [1]:
items={1:['santoor soap     ',35.00],
       2:['good day         ',10.00],
       3:['head and sholders ',70.00],
       4:['onions             ',80.00],
       5:['fruits              ',4.00]}
bill={}
total=0
more='yes'
print("Menu")
print("Menu\nid\t\tname\t\t\tprice")
for i in items.keys():
    print(f"{i}\t{items[i][0]}\t\t{items[i][1]}")
while more=='yes':
    item_id=int(input("enter id of product":))
    qty=int(input("enter qty of product":))
    price=items[item_id][1]
    item_price=qty*price
    total=total+item_price
    item bill=[]
    itembill.append(qty)
    itembill.append(item_price)
    bill[item_id]=itembill
    bill[item_id]=itembill
    more=input("do you want more items(yes/no):")
print()
print("Bill")
print("Id\tname\t\t\tprice\tqty\ttotal price")
print()
for i in bill.keys:
    print(f"{i}\t{items[i][0]}\t{items[i][1]}\t{bill[i][0]}\t{bill[i][1]}")
print()
print(f"Total\t\t\t{total}")

SyntaxError: invalid syntax (2710798979.py, line 14)

In [13]:
n=40
for i in range(1,11):
    print(' '*n,end='')
    print('*' *(2 * i - 1))
    n-=1

                                        *
                                       ***
                                      *****
                                     *******
                                    *********
                                   ***********
                                  *************
                                 ***************
                                *****************
                               *******************

In [10]:
for i in range(1,11):
    for k in range(1,11-i):
        print(" ",end="")
    for j in range(1,i+1):
        print('*',end='')
    print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [11]:
for i in range(1,11):
    for k in range(1,11-i):
        print(" ",end="")
    for j in range(1,i+1):
        print('*',end=' ')
    print()

         *
        * *
       * * *
      * * * *
     * * * * *
    * * * * * *
   * * * * * * *
  * * * * * * * *
 * * * * * * * * *
* * * * * * * * * *

In [18]:
for i in range(1,11):
    for k in range(1,11-i):
        print("",end="")
    for j in range(1,i-1):
        print('*',end='')
    print()

*
**
***
****
*****
******
*******
********

In [46]:
n=0
for i in range(1,51):
    n=n+1
    if n%2==0:
        print("even number:",n)

even number: 2
even number: 4
even number: 6
even number: 8
even number: 10
even number: 12
even number: 14
even number: 16
even number: 18
even number: 20
even number: 22
even number: 24
even number: 26
even number: 28
even number: 30
even number: 32
even number: 34
even number: 36
even number: 38
even number: 40
even number: 42
even number: 44
even number: 46
even number: 48
even number: 50

In [15]:
for n in range(2,51):
    is_prime=True
    for i in range(2,n):
        if n%i==0:
            is_prime=False
            break
    if is_prime:
        print("prime number",n)

prime number 2
prime number 3
prime number 5
prime number 7
prime number 11
prime number 13
prime number 17
prime number 19
prime number 23
prime number 29
prime number 31
prime number 37
prime number 41
prime number 43
prime number 47

In [33]:
n=0
for i in range(1,51):
    n=n+1
    #odd_num=True
    if n%2!=0:
        print("odd number:",n,-1)
    else:
        print("Even numbers:",n)

odd number: 1 -1
Even numbers: 2
odd number: 3 -1
Even numbers: 4
odd number: 5 -1
Even numbers: 6
odd number: 7 -1
Even numbers: 8
odd number: 9 -1
Even numbers: 10
odd number: 11 -1
Even numbers: 12
odd number: 13 -1
Even numbers: 14
odd number: 15 -1
Even numbers: 16
odd number: 17 -1
Even numbers: 18
odd number: 19 -1
Even numbers: 20
odd number: 21 -1
Even numbers: 22
odd number: 23 -1
Even numbers: 24
odd number: 25 -1
Even numbers: 26
odd number: 27 -1
Even numbers: 28
odd number: 29 -1
Even numbers: 30
odd number: 31 -1
Even numbers: 32
odd number: 33 -1
Even numbers: 34
odd number: 35 -1
Even numbers: 36
odd number: 37 -1
Even numbers: 38
odd number: 39 -1
Even numbers: 40
odd number: 41 -1
Even numbers: 42
odd number: 43 -1
Even numbers: 44
odd number: 45 -1
Even numbers: 46
odd number: 47 -1
Even numbers: 48
odd number: 49 -1
Even numbers: 50

In [2]:
l1=[1,2,3]
l2=[4,5,6]
d1=dict(zip(l1,l2))
print(d1)

{1: 4, 2: 5, 3: 6}

In [1]:
count = 1
while count<=10:
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10

In [2]:
n=10
while n>0:
    print(n)
    n-=1

10
9
8
7
6
5
4
3
2
1

In [3]:
while True:
    user_input=input("Enter 'exit' to stop: ")
    if user_input.lower() == 'exit':
        break
    print("you entered:",user_input)

Enter 'exit' to stop:  vyshna bi kjxeknkemlf;mkjgngdmguirajfdshgjlkusdibvnxzbfekiglrk

you entered: vyshna bi kjxeknkemlf;mkjgngdmguirajfdshgjlkusdibvnxzbfekiglrk

Enter 'exit' to stop:  byehfeejfdsmijyk;amhf;Fs;kjdghiVJVEWF;kl.jLFINJF9;KGH9NR,MRBJJVP'KJFBJEOIG

you entered: byehfeejfdsmijyk;amhf;Fs;kjdghiVJVEWF;kl.jLFINJF9;KGH9NR,MRBJJVP'KJFBJEOIG

Enter 'exit' to stop:  BFFIUTGP;knnaiuj'jbj.,zmhjh'slmalj

you entered: BFFIUTGP;knnaiuj'jbj.,zmhjh'slmalj

Enter 'exit' to stop:  exit

In [4]:
import random
secret_number=random.randint(1,10)
guess=None
while guess!=secret_number:
    guess=int(input("Guess a number between 1 and 10: "))
    if gues<secret_number:
        print("Too low! Try again.")
    elif guess> secret_number:
        print("Too high! Try again.")
    else:
        print("Congratulations! yoy guessed it.")

Guess a number between 1 and 10:  1

NameError: name 'gues' is not defined

In [5]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
while b:
    a,b=b,a%b
print("GCD is:",a)

Enter first number:  3
Enter second number:  4

GCD is: 1

In [6]:
num=int(input("Enter a number: "))
while num!=1:
    print(num,end=" -> ")
    if num%2 == 0:
        num//=2
    else:
        num=3*num+1
print(1)

Enter a number:  3

3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1

In [15]:
def movie_name():
    print("Puspha")
movie_name()

Puspha

In [25]:
def addition(a,b):
    a=7
    b=8
    c=a+b
    print(c)
addition(a,b)

15

In [1]:
s1="Vysh"
s2="navi"
s3=s1+s2
print(s3)

Vyshnavi

In [4]:
s1="Learning 'python' in 118 room"
print(s1)
print(type(s1))

Learning 'python' in 118 room
<class 'str'>

In [8]:
s1='Iam "vyshnavi" from ECE'
print(s1)

Iam "vyshnavi" from ECE

In [11]:
s1='Iam \'vyshnavi\' from ECE'
print(s1)

Iam 'vyshnavi' from ECE

In [29]:
s1="Iam \bvyshnavi from ECE"
print(s1)

Iam \bvyshnavi from ECE

In [27]:
a=0o123
print(a)

83

In [28]:
a=0xabc
print(a)

2748

In [39]:
str='vyshnavi'
n=len(str)
i=0
while i<n:
    print(str[i],end=' ')
    i+=1
print()
i=-1
while i>=-n:
    print(str[i],end=' ')
    i-=1
print()
i=1
n=len(str)
while i<=n:
    print(str[-i],end=' ')
    i+=1

v y s h n a v i
i v a n h s y v
i v a n h s y v

In [41]:
str2="vyshnavi"
print(str2)
print(str2[:5])
print(str2[1:])
print(str2[::2])
print(str2[1::2])
print(str2[::-1])

vyshnavi
vyshn
yshnavi
vsnv
yhai
ivanhsyv

In [ ]:
#write a program to take the main string and check whether the main string starts with given sub string
#write a progran to take the main string and check the main string is ending with the given sub string
#write a program  to take  main string and check whether the given substring is existing or not and return the index of substring

In [16]:
str1="vyshnavi"
sub=input("Enter the sub string")
if(str1.startswith(sub)):
    print("str1 starts with sub string")
else:
    print("str1 not starting with sub string")

Enter the sub string navi

str1 not starting with sub string

In [17]:
str1="vyshnavi"
sub=input("Enter the sub string")
if(str1.endswith(sub)):
    print("str1 ends with sub string")
else:
    print("str1 is not ending with sub string")

Enter the sub string navi

str1 ends with sub string

In [6]:
str1="vyshnavi"
sub=input("Enter the sub string")
if (sub in str1):
    print("sub is found in",str1)
else:
    print("sub is not found in",str1)

Enter the sub string vysh

sub is found in vyshnavi

In [5]:
name='     vyshu    '
print("*",name,"*")
print("*",name.lstrip(),"*")
print("*",name.rstrip(),"*")
print("*",name.strip(),"*")

*      vyshu     *
* vyshu     *
*      vyshu *
* vyshu *

In [14]:
str1=input("Enter the main string")
sub=input("Enter the sub string")
n=str1.find(sub,0,len(str1))
print(n)

Enter the main string vyshnavi
Enter the sub string vysh

0

In [16]:
str1=input("Enter the main string")
sub=input("Enter the sub string")
i=0
flag=False
n=len(str1)
while i<n:
    pos=str1.find(sub,i,n)
    if pos!=-1:
        print('found at position:',pos+1)
        i=pos+1
        flag=True
    else:
        i=i+1
if flag==False:
    print('sub string not found')

Enter the main string am am am going am am home
Enter the sub string am

found at position: 1
found at position: 4
found at position: 7
found at position: 16
found at position: 19

In [4]:
str1=input("Enter the mail id:")
str2=input("Enter the mail id pasword:")
password="vyshu123"
if password==str2:
    print("SUCESSFULLY LOGED IN!")
else:
    print("INVALID!")

Enter the mail id: vyshu@123
Enter the mail id pasword: vyshu123

SUCESSFULLY LOGED IN!

In [3]:
print("\u0c35\u0c48\u0c37\u0c4d\u0c23\u0c35\u0c3F")

In [21]:
l1=[1,2,3,4,5]
l2=[[89,55,66],[34,45,67],[78,68,67],[12,23,44],[33,44,55],[66,77,88]]
pin=zip(l1,l2)
d=dict(pin)
print(d)
print(d[2])
for i in l2[2]:
    print(i)

{1: [89, 55, 66], 2: [34, 45, 67], 3: [78, 68, 67], 4: [12, 23, 44], 5: [33, 44, 55]}
[34, 45, 67]
78
68
67

In [4]:
name="Vyshnavi"
print("my name is",name)
print(id(name))

my name is Vyshnavi
1344954041136

In [5]:
l1=["I","am","vyshnavi"]
print(l1)
print(id(l1))
l1.append("student")
print(l1)
print(id(l1))

['I', 'am', 'vyshnavi']
1344954193920
['I', 'am', 'vyshnavi', 'student']
1344954193920

In [8]:
s1="vyshnavi"
s2="vyshu"
if(s1==s2):
    print("Vyshnavi from Ece")
else:
    print("Invalid")

Invalid

In [9]:
s1=input("")
s2=input("")
if(s1==s2):
    print("Vyshnavi from Ece")
else:
    print("Invalid")

 vyshu
 vyshu

Vyshnavi from Ece

In [13]:
name="       vyshnavi           "
print(name.rstrip())
print(name.lstrip())
print(name.strip())

       vyshnavi
vyshnavi
vyshnavi

In [16]:
x=int(input("k: "))
a=0
b=1
c=a+b
for i in range(0,x-1):
    i=c
    a=0
    b=1
    c=a+b
    print(i)
    a+=1
    b+=1

k:  3

1
1

In [25]:
a="Hello hi guys"
print(a[0])
b=a.split()
print(b)
print(b[0])
b.append("sritw")
print(b)
c=b.join(a)
print(c)

H
['Hello', 'hi', 'guys']
Hello
['Hello', 'hi', 'guys', 'sritw']

AttributeError: 'list' object has no attribute 'join'

In [27]:
str1="python training"
print(str1.upper())
print(str1.lower())
print(str1.swapcase())
print(str1.title())

PYTHON TRAINING
python training
PYTHON TRAINING
Python Training

In [30]:
str="hey guys"
print(str.startswith("guys"))

False

In [5]:
def generate_pattern(n):
    matrix=[[0]*(2*n-1) for _ in range(2*n-1)]
    for i in range(n):
        for j in range(i,2*n-1-i):
            matrix[i][j]=matrix[j][i]=matrix[j][2*n-2-i]=matrix[2*n-2-i][j]=n-i
    for row in matrix:
        print("".join(map(str,row)))
generate_pattern(4)

4444444
4333334
4322234
4321234
4322234
4333334
4444444

In [8]:
str_list=[]
n= int(input('How many stringd? '))
for i in range(n):
    s=input(f'Enter string {i+1}: ')
    str_list.append(s)
sorted_list=sorted(str_list)
print('sorted list:')
for item in sorted_list:
    print(item)

How many stringd?  8
Enter string 1:  r
Enter string 2:  t
Enter string 3:  df
Enter string 4:  a
Enter string 5:  b
Enter string 6:  c
Enter string 7:  d
Enter string 8:  e

sorted list:
a
b
c
d
df
e
r
t

In [2]:
for i in range(n):
    str1.append(main_str[i])
for i in range(L2):
    str1.append(sub_str[i])
for i in range(n,L1):
    str1.append(main_str[i])
str1=''.join(str1)
print('Modified string:',str1)

NameError: name 'n' is not defined

In [ ]:
#find the missing number in the array
'''3
8
1 2 7 9 5 6 3 8
7
3 5 8 1 4 7 2
10
8 11 10 2 7 4 3 5 1 6'''

In [3]:
t=int(input())
group_arr=[]
for tc in range(t):
    n=int(input())
    arr=[int(x) for x in input().split()]
    group_arr.append(arr)
for tc in range(t):
    group_arr[tc].sort()
    for i in range(len(group_arr[tc])):
        if group_arr[tc][i]!=i+1:
            break
    print(i+1)

 3
 8
 1 2 7 9 5 6 3 8
 7
 3 5 8 1 4 7 2
 10
 8 11 10 2 7 4 3 5 1 6

4
6
9

In [6]:
#sum of pairs problem
t=int(input())
n_k_group=[]
group_arr=[]
for tc in range(t):
    n_k=[int(x) for x in input().split()]
    arr=[int(x) for x in input().split()]
    n_k_group.append(n_k)
    group_arr.append(arr)
for tc in range(t):
    flag=False
    for i in range(len(group_arr[tc])):
        for j in range(i+1,len(group_arr[tc]
        for j in range(i+1+group_arr[tc][j]==n_k_grou[tc][1]:
            print("True")
            flag=True
            break
        if flag=True:
            break

SyntaxError: invalid syntax (2638352927.py, line 13)

In [1]:
# only vowels
s=input()
vowels={'a','e','i','o','u'}
if vowels.issubset(set(s)):
    print("Yes")
else:
    print("No")

 vyshnavi

No

In [2]:
#half diamond
n=int(input())
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()
for k in range(n,1,-1):
    for m in range(-1):
        print("*",end="")
    print()

 5

*
**
***
****
*****

In [3]:
#add opposite matrix rows
rows_A = int(input("Enter number of rows for Matrix A: "))
cols_A = int(input("Enter number of columns for Matrix A: "))
print("Enter Matrix A row by row:")
A = [list(map(int, input().split())) for _ in range(rows_A)]

rows_B = int(input("Enter number of rows for Matrix B: "))
cols_B = int(input("Enter number of columns for Matrix B: "))
print("Enter Matrix B row by row:")
B = [list(map(int, input().split())) for _ in range(rows_B)]


if cols_A != rows_B:
    print("Matrix multiplication is not possible!")
else:
    
    result = [[0 for _ in range(cols_B)] for _ in range(rows_A)]


    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):
                result[i][j] += A[i][k] * B[k][j]

    print("Resultant Matrix:")
    for row in result:
#        print(" ".join(map(str, row)))

Enter number of rows for Matrix A:  3
Enter number of columns for Matrix A:  3

Enter Matrix A row by row:

 3 4 5
 4 5 7
 5 6 7
Enter number of rows for Matrix B:  3
Enter number of columns for Matrix B:  3

Enter Matrix B row by row:

 3 4 5
 6 8 9
 5 9 8

Resultant Matrix:
58 89 91
77 119 121
86 131 135

In [4]:
#only vowels
s=input()
vowels={'a','e','i','o','u'}
if vowels.issubset(set(s)):
    print("Yes")
else:
    print("No")

 a

No

In [6]:
#add opposite matrix
n,m=[int(x) for x in input().split()]
a=[]
b=[]
for i in range(n):
    row=[]
    row=[int(x) for x in input().split()]
    a.append(row)
for i in range(n):
    row=[]
    row=[int(x) for x in input().split()]
    b.append(row)
#print(a)
#print(b)
sumlist=[]
for i in range(n):
    sumlist.append(sum(a[i])+sum(b[n-i-1]))
for i in range(n):
    print(sumlist[i])

 3 3
 3 -2 5
 1 3 4
 4 0 7
 2 2 4
 -8 4 3
 7 1 9

23
7
19

In [1]:
#Product of 2 matrices
def matrix_multiply(mat1, mat2):
    n1,m1=len(mat1), len(mat1[0])
    n2,m2=len(mat2), len(mat2[0])
    result=[[0 for _ in range(m2)] for _ in range(n1)]
    for i in range(n1):
        for j in range(m2):
            for k in range(m1):
                result[i][j] += mat1[i][k] * mat2[k][j]
    return result
T = int(input())
for _ in range(T):
    N1, M1 = map(int, input().split())
    mat1 = [list(map(int, input().split())) for _ in range(N1)]
    
    N2, M2 = map(int, input().split())
    mat2 = [list(map(int, input().split())) for _ in range(N2)]
    product = matrix_multiply(mat1, mat2)
    for row in product:
        print(' '.join(map(str,row)))

 2 2

ValueError: invalid literal for int() with base 10: '2 2'

In [3]:
#odd elements sum
n=int(input("enter number of elements:"))
ar=list(map(int,input().split()))
s=0
for i in ar:
    if i%2!=0:
        s+=i
print(s)

enter number of elements: 5
 -6 9 -8 4 -3

6

In [1]:
i=int(input)
for(i=0;i<n;i++):
    for(j=0;j<n-i-1;j++):
        print(" ")
            for(j=0;j<2*i+1;j++):
                print("*")
                    for(j=0;j<n-i-1;j++):
                        print(" ")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1549685040.py, line 2)

In [8]:
a=int(input("enter a value:"))
b=int(input("Enter b value:"))
print("Before swaping a=",a,"b=",b)
temp=a
a=b
b=temp
print("After swaping a=",a,"b=",b)
print("after swaping b=",b)

enter a value: 3
Enter b value: 4

Before swaping a= 3 b= 4
Before swaping b= 4
After swaping a= 4
after swaping b= 3

In [2]:
a=3
if a>0:

    print(a)

3

In [39]:
#i=int(input())

for i in range(0,11,2):
    print(i)
sum=sum+i
print(sum)

0
2
4
6
8
10
30

In [51]:
#random numbers btw 1 to 50
import random
a=random.randint(1,50)
print(a)

34

In [3]:
#the function accepts four integers a,,b,c,d as its argument implement the function to find the sum of distinct numbers and subract the duplicate number and return the difference (sum of distinct number-duplicate number)
def AddDistinctDuplicate(a,b,c,d):
    nums=[a,b,c,d]
    distinct_sum=0
    duplicate_sum=0
    for num in nums:
        if nums.count(num)==1:
            distinct_sum+=num
        elif nums.count(num)==2:
            duplicate_sum=num
    return distinct_sum-duplicate_sum
if __name__ == "__main__":
    a,b,c,d=5,4,4,9
    print(AddDistinctDuplicate(a,b,c,d))

10

In [1]:
def LetteredNumberSum(str1,length):
    letter_map={
                'A':1,
                'B':10,
                'C':100,
                'D':1000,
                'E':10000,
                'F':100000,
                'G':1000000,
                }
    total_sum=0
    for char in str1:
        total_sum+=letter_map.get(char,0)
    return total_sum
if __name__=="__main__":
    str1=input("enter the string:")
    length=len(str1)
    print(LetteredNumberSum(str1,length))

enter the string: DHSTA

1001

In [24]:
list_1=["vysh","pooj","harini","indu"]
list_1.append("karishma")
print(list_1)
list_1.count("vysh")
print(list_1)
list_1.extend("vysh")
print(list_1)
list_1.index("vysh")
print(list_1)
list_1.insert(1,2)
print(list_1)
list_1.pop(1)
print(list_1)
list_1.remove("vysh")
print(list_1)
list_1.reverse()
print(list_1)
list_1.sort()
print(list_1)
list_1.copy()
print(list_1)
list_1.clear()
print(list_1)

['vysh', 'pooj', 'harini', 'indu', 'karishma']
['vysh', 'pooj', 'harini', 'indu', 'karishma']
['vysh', 'pooj', 'harini', 'indu', 'karishma', 'v', 'y', 's', 'h']
['vysh', 'pooj', 'harini', 'indu', 'karishma', 'v', 'y', 's', 'h']
['vysh', 2, 'pooj', 'harini', 'indu', 'karishma', 'v', 'y', 's', 'h']
['vysh', 'pooj', 'harini', 'indu', 'karishma', 'v', 'y', 's', 'h']
['pooj', 'harini', 'indu', 'karishma', 'v', 'y', 's', 'h']
['h', 's', 'y', 'v', 'karishma', 'indu', 'harini', 'pooj']
['h', 'harini', 'indu', 'karishma', 'pooj', 's', 'v', 'y']
['h', 'harini', 'indu', 'karishma', 'pooj', 's', 'v', 'y']
[]

In [28]:
stack=[]
stack.append('A')
stack.append('B')
stack.append('C')
print("stack:",stack)
#peek
topElement=stack[-1]
print("peek",topElement)
#pop
PoppedElement=stack.pop()
print("pop",PoppedElement)
#stack after pop
print("stack after pop",stack)
#isEmpty
isEmpty=not bool(stack)
print("isEmpty:",isEmpty) 
#size
print("size:",len(stack))

stack: ['A', 'B', 'C']
peek C
pop C
stack after pop ['A', 'B']
isEmpty: False
size: 2

In [34]:
#queue is a linear data structure that follows the FIFO principle
#Ex:standing queue in super market,searching in goolge,
#Enqueue:adds a new element to the queue
#Dequeue:Removes and returns the first(front)element from the queue
#peek:return the first element in the queue
#isEmpty: checks is the queue is empty
#size:finds the number of elements in the queue
queue=[]
#Enqueue
queue.append('A')
queue.append('B')
queue.append('C')
print("Queue:",queue)
#peek
frontElement=queue[0]
print("peek:",frontElement)
#Dequeue
poppedElement=queue.pop(0)
print("Dequeue:",poppedElement)
print("queue after Dequeue:",queue)
#isEmpty
isEmpty=not bool(queue)
print("isEmpty:",isEmpty)
#size
print("size:",len(queue))

Queue: ['A', 'B', 'C']
peek: A
Dequeue: A
queue after Dequeue: ['B', 'C']
isEmpty: False
size: 2

In [40]:
#write a simple python program the sum of list of numbers using recursion
def sum_list(numb_list):
    if len(num_list)==1:
        return num_list[0]
    else:
        return num_list[0]+list_sum(num_list[1:])    
    print(list_sum([1,2,3,4,5]))
def insertAtBottom(s,x):
    if not s:
        s.append(x)
    else:
        a=s.pop()
        insertAtBottom(s,x)
        s.append(a)

In [41]:
def sum_list(numb_list):
    if len(num_list)==1:
        return num_list[0]
    else:
        return num_list[0]+list_sum(num_list[1:])    
    print(list_sum([1,2,3,4,5]))
def insertAtBottom(s,x):
    if not s:
        s.append(x)
    else:
        a=s.pop()
        insertAtBottom(s,x)
        s.append(a)

In [42]:
#write a program to reverse a stack using recursion,without using any loop
def insert_at_bottom(stack, item):
    if not dhfstack:
        stack.append(item)
        return
    top = stack.pop()
    insert_at_bottom(stack, item)
    stack.append(top)

def reverse_stack(stack):
    if not stack:
        return
    top = stack.pop()
    reverse_stack(stack)
    insert_at_bottom(stack, top)

In [46]:
def reverse(s):
    if s:
        x=s.pop()
        reverse(s)
        insertAtBottom(s,x)
if __name__ == '__main__':
    s=[]
    s.append(1)
    s.append(2)
    s.append(3)
    s.append(4)
    #reverse(s)
    while s:
        print(s.pop(), end=' ')

4 3 2 1

In [52]:
#write a python program to create a new deque with 3 items and iterateover the deque's elements. rom collections import deque
from collections import deque

# Create a deque with three items
my_deque = deque(["apple", "banana", "cherry"])

# Iterate over the deque elements
print("Deque elements:")
for item in my_deque:
    print(item)

Deque elements:
apple
banana
cherry

In [55]:
from collections import counter,OrderedDict
class OrderedCounter(counter,OrderedDict):
    pass
word_array=[]
n=int(input("Input number of words: "))
print("Input the words: ")
for i in range(n):
    word_array.append(input().strip())
word_ctr=OrderedCounter(word_array)
print(len(word_ctr))
for word in word_ctr:
    print(word_ctr[word],end='')

ImportError: cannot import name 'counter' from 'collections' (C:\ProgramData\anaconda3\Lib\collections\__init__.py)

In [57]:
from collections import Counter, OrderedDict
class OrderedCounter(Counter, OrderedDict):
    pass
word_array=[]
n=int(input("Input numbers of words: "))
print("Input the words: ")
for i in range(n):
    word_array.append(input().strip())
word_ctr=OrderedCounter(word_array)
print(len(word_ctr))
for word in word_ctr:
    print(word_ctr[word], end=' ')

Input numbers of words:  3

Input the words:

 apple
 banana
 graps

3
1 1 1

In [58]:
#write a python program to create a deque from an existing iterable object
import collections
even_nums=(2,4,6)
print("Original tuple:")
print(even_nums)
print(type(even_nums))
even_nums_deque=collections.deque(even_nums)
print("\nOriginal deque:")
print(even_nums_deque)
even_nums_deque.append(8)
even_nums_deque.append(10)
even_nums_deque.append(12)
even_nums_deque.appendleft(2)
print("New deque from an existing iterable object:")
print(even_nums_deque)
print(type(even_nums_deque))

Original tuple:
(2, 4, 6)
<class 'tuple'>

Original deque:
deque([2, 4, 6])
New deque from an existing iterable object:
deque([2, 2, 4, 6, 8, 10, 12])
<class 'collections.deque'>

In [2]:
#to find the most common element in the list
from collections import Counter
list1=[1,2,3,1,4,1]
counter=Counter(list1)
most_common_element, count=counter.most_common(1)[0]
print(f"The most common elemenet id {most_common_element} (appears {count} times).")

The most common elemenet id 1 (appears 3 times).

In [2]:
class Node:
    def __init__(self,data):
        self.data=data
        self.next=None
def traverseAndPrint(head):
    currentNode=head
    while currentNode:
        print(currentNode.data,end=" -> ")
        currentNode=currentNode.next
    print("null")
node1=Node(7)
node2=Node(11)
node3=Node(3)
node4=Node(2)
node5=Node(9)
node1.next=node2
node2.next=node3
node3.next=node4
node4.next=node5
traverseAndPrint(node1)

7 -> 11 -> 3 -> 2 -> 9 -> null

In [12]:
class LinkedList:
    def init(self):
        self.head=None
    def append(self,data):
        new_node=Node(data)
        if not self.head:
            self.head=new_node
            return
        current=self.head
        while current.next:
            current=current.next
        current.next=new_node
    def print_list(self):
        current=self.head
        while current:
            print(current.data, end=' -> ')
            current=current.next
        print("None")

In [14]:
#Delete a node by value
def delete_node(self,key):
    current=self.head
    if current and current.data==25:
        self.head=current.next
        return
    prev=None
    while current and current.data!=key:
        prev=current
        current=current.next
    if current:
        prev.next=current.next

In [15]:
class Node:
    def _init_(self, data):  # Corrected constructor
        self.data = data
        self.next = None

class LinkedList:
    def _init_(self):  # Corrected constructor
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        curr = self.head
        while curr.next:
            curr = curr.next
        curr.next = new_node

    def delete_by_value(self, value):
        curr = self.head

        # If head node holds the value
        if curr and curr.data == value:
            self.head = curr.next
            return

        prev = None
        while curr and curr.data != value:
            prev = curr
            curr = curr.next

        # Value not found
        if not curr:
            print(f"Value {value} not found in list.")
            return

        # Unlink the node
        prev.next = curr.next

    def display(self):
        curr = self.head
        while curr:
            print(curr.data, end=" -> ")
            curr = curr.next
        print("None")

# Example usage
ll = LinkedList()
ll.append(10)
ll.append(20)
ll.append(30)
ll.append(40)

print("Original list:")
ll.display()

ll.delete_by_value(30)

print("After deleting 30:")
ll.display()

TypeError: Node() takes no arguments

In [16]:
class Node:
    def _init_(self, data):  # Corrected constructor
        self.data = data
        self.next = None

class LinkedList:
    def _init_(self):  # Corrected constructor
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        curr = self.head
        while curr.next:
            curr = curr.next
        curr.next = new_node

    def delete_by_value(self, value):
        curr = self.head

        # If head node holds the value
        if curr and curr.data == value:
            self.head = curr.next
            return

        prev = None
        while curr and curr.data != value:
            prev = curr
            curr = curr.next

        # Value not found
        if not curr:
            print(f"Value {value} not found in list.")
            return

        # Unlink the node
        prev.next = curr.next

    def display(self):
        curr = self.head
        while curr:
            print(curr.data, end=" -> ")
            curr = curr.next
        print("None")

# Example usage
ll = LinkedList()
ll.append(10)
ll.append(20)
ll.append(30)
ll.append(40)

print("Original list:")
ll.display()

ll.delete_by_value(30)

print("After deleting 30:")
ll.display()

TypeError: Node() takes no arguments

In [1]:
class Node:
    def _init_(self, data):  # Corrected constructor
        self.data = data
        self.next = None

class LinkedList:
    def _init_(self):  # Corrected constructor
        self.head = None

    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        curr = self.head
        while curr.next:
            curr = curr.next
        curr.next = new_node

    def delete_by_value(self, value):
        curr = self.head

        # If head node holds the value
        if curr and curr.data == value:
            self.head = curr.next
            return

        prev = None
        while curr and curr.data != value:
            prev = curr
            curr = curr.next

        # Value not found
        if not curr:
            print(f"Value {value} not found in list.")
            return

        # Unlink the node
        prev.next = curr.next

    def display(self):
        curr = self.head
        while curr:
            print(curr.data, end=" -> ")
            curr = curr.next
        print("None")

# Example usage
ll = LinkedList()
ll.append(10)
ll.append(20)
ll.append(30)
ll.append(40)

print("Original list:")
ll.display()

ll.delete_by_value(30)

print("After deleting 30:")
ll.display()

TypeError: Node() takes no arguments

In [2]:
#Reverse a Linked List(iterative)
def reverse(self):
    prev=None
    current=self.head
    while current:
        next_node=current.next
        current.next=prev
        prev=current
        current=next_mode
    self.head=prev

In [3]:
def reverse(self):
    prev=None
    current=self.head
    while current:
        next_node=current.next
        current.next=prev
        prev=current
        current=next_mode
    self.head=prev

In [6]:
def reverse(self):
    prev = None
    current = self.head
    while current:
        next_node = current.next  # Correct variable name
        current.next = prev
        prev = current
        current = next_node       # Fixed typo: was 'next_mode'
    self.head = prev

In [7]:
class Node:
    def _init_(self, data):
        self.data = data
        self.next = None

# Define the LinkedList class
class LinkedList:
    def _init_(self):
        self.head = None

    # Function to append a new node
    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        last = self.head
        while last.next:
            last = last.next
        last.next = new_node

    # Function to print the linked list
    def print_list(self):
        current = self.head
        while current:
            print(current.data, end=" -> ")
            current = current.next
        print("None")

    # Function to reverse the linked list
    def reverse(self):
        prev = None
        current = self.head
        while current:
            next_node = current.next  # Save next
            current.next = prev       # Reverse current node's pointer
            prev = current            # Move pointers one position ahead
            current = next_node
        self.head = prev

# Example usage
llist = LinkedList()
llist.append(1)
llist.append(2)
llist.append(3)
llist.append(4)

print("Original Linked List:")
llist.print_list()

llist.reverse()

print("Reversed Linked List:")
llist.print_list()

TypeError: Node() takes no arguments

In [8]:
class Node:
    def _init_(self, data):
        self.data = data
        self.next = None

# Define the LinkedList class
class LinkedList:
    def _init_(self):
        self.head = None

    # Function to append a new node
    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        last = self.head
        while last.next:
            last = last.next
        last.next = new_node

    # Function to print the linked list
    def print_list(self):
        current = self.head
        while current:
            print(current.data, end=" -> ")
            current = current.next
        print("None")

    # Function to reverse the linked list
    def reverse(self):
        prev = None
        current = self.head
        while current:
            next_node = current.next  # Save next
            current.next = prev       # Reverse current node's pointer
            prev = current            # Move pointers one position ahead
            current = next_node
        self.head = prev

# Example usage
llist = LinkedList()
llist.append(1)
llist.append(2)
llist.append(3)
llist.append(4)

print("Original Linked List:")
llist.print_list()

llist.reverse()

print("Reversed Linked List:")
llist.print_list()

TypeError: Node() takes no arguments

In [12]:
class Node:
    def _init_(self, data):
        self.data = data
        self.next = None

# Define the LinkedList class
class LinkedList:
    def _init_(self):
        self.head = None

    # Function to append a new node
    def append(self, data):
        new_node = Node(data)
        if not self.head:
            self.head = new_node
            return
        last = self.head
        while last.next:
            last = last.next
        last.next = new_node

    # Function to print the linked list
    def print_list(self):
        current = self.head
        while current:
            print(current.data, end=" -> ")
            current = current.next
        print("None")

    # Function to reverse the linked list
    def reverse(self):
        prev = None
        current = self.head
        while current:
            next_node = current.next  # Save next
            current.next = prev       # Reverse current node's pointer
            prev = current            # Move pointers one position ahead
            current = next_node
        self.head = prev

# Example usage
llist = LinkedList()
llist.append(1)
llist.append(2)
llist.append(3)
llist.append(4)

print("Original Linked List:")
llist.print_list()

llist.reverse()

print("Reversed Linked List:")
llist.print_list()

TypeError: Node() takes no arguments

In [14]:
 #searching algorithm
def linear_search(arr,target):
    for i in range(len(arr)):
        if arr[i]==target:
            return i
    return -1
data=[10,25,30,45,50]
print(linear_search(data,30))

2

In [20]:
#binary search
def binary_search(arr,target):
    low,high=0,len(arr)-1
    while low<=high:
        mid=(low+high)
        if arr[mid]==target:
            return mid
        elif arr[mid]<target:
            low=mid+1
        else:
            high=mid-1
    return -1
data=[10,20,30,40,50]
print(binary_search(data,50))

4

In [24]:
def bubble_sort(arr):
    for n in range(len(arr)-1,0,-1):
        swapped=False
        for i in range(n):
            if arr[i]>arr[i+1]:
                arr[i],arr[i+1]=arr[i+1],arr[i]
                swapped=True
        if not swapped:
            break
arr=[6,7,2,1,4,5,0]
print("Unsorted list is:")
print(arr)
bubble_sort(arr)
print("sorted list is:")
print(arr)

Unsorted list is:
[6, 7, 2, 1, 4, 5, 0]
sorted list is:
[0, 1, 2, 4, 5, 6, 7]

In [28]:
#factorial calculation
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
num=5
result=factorial(num)
print(f"Factorial of {num} is: {result}")

Factorial of 5 is: 120

In [28]:
#factorial calculation
def factorial(n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
num=5
result=factorial(num)
print(f"Factorial of {num} is: {result}")

Factorial of 5 is: 120

In [29]:
def is_palindrome(s):
    return s==s[::-1]
print(is_palindrome("madam"))
print(is_palindrome("python"))

True
False

In [30]:
class Solution:
    def maxRegions(self,n):
        num=n*(n+1)//2+1
        return num
if __name__=='__main__':
    n=int(input())
    ob=Solution()
    ans=ob.maxRegions(n)
    print(ans)

 kw

ValueError: invalid literal for int() with base 10: 'kw'

In [30]:
class Solution:
    def maxRegions(self,n):
        num=n*(n+1)//2+1
        return num
if __name__=='__main__':
    n=int(input())
    ob=Solution()
    ans=ob.maxRegions(n)
    print(ans)

 kw

ValueError: invalid literal for int() with base 10: 'kw'

In [4]:
class student():
    def __init__(self,name,age,cgpa,id):
        self.name=name
        self.age=age
        self.cgpa=cgpa
        self.id=id
std1=student("vysh",22,85,428)
std2=student("vysh",22,85,428)
print(std1.__dict__)
print(std2.__dict__)

{'name': 'vysh', 'age': 22, 'cgpa': 85, 'id': 428}
{'name': 'vysh', 'age': 22, 'cgpa': 85, 'id': 428}

In [7]:
class student():
    def __init__(self,name,age,cgpa,id):
        self.name=name
        self.age=age
        self.cgpa=cgpa
        self.id=id
class scoresofstudent(student):
    def __init__(self,sub1,sub2,sub3,total):
        self.sub1=sub1
        self.sub2=sub2
        self.sub3=sub3
        self.sub4=sub4      
std1=student("vysh",22,85,428)
std2=student("vysh",22,85,428)
print(std1.age)
print(std2.name)

22
vysh

In [9]:
#Multilevel inheritance
class Universe:
    def universeMethod(self):
        print("I am in the Universe")
class Earth(Universe):
    def earthMethod(self):
        print("I am on earth")
class India(Earth):
    def indianMethod(self):
        print("I am in india")
#creating instance
person=India()
#method calls
person.universeMethod()
person.earthMethod()
person.indianMethod()

I am in the Universe
I am on earth
I am in india

In [10]:
class Manager:
    def managerMethod(self):
        print("I am the Manager")
#child class
class Employee1(Manager):
    def employee1Method(self):
        print("I am Employee one")
#second class
class Employee2(Manager):
    def employee2Method(self):
        print("I am Employee two")
#creating instances
emp1=Employee1()
emp2=Employee2()
#method calls
emp1.managerMethod()
emp1.employee1Method()
emp2.managerMethod()
emp2.employee2Method()
#child class

I am the Manager
I am Employee one
I am the Manager
I am Employee two

In [14]:
#Hybrid 
class CEO:
    def ceoMethod(self):
        print("I am the CEO")
class Manager(CEO):
    def managerMethod(self):
        print("I am the manager")
class Employee1(Manager):
    def employee1Method(self):
        print("I am Employee one")
class Employee2(Manager,CEO):
    def employee2Method(self):
        print("I am Employee two")
#creating instances
emp=Employee2()
#method calls
emp.managerMethod()
emp.ceoMethod()
emp.employee2Method()

I am the manager
I am the CEO
I am Employee two

In [17]:
#multiple Inheritance
class employee1():
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
class employee2():
    def __init__(self,name,age,salary,id):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
class childemployee(employee1,employee2):
    def __init__(self,name,age,salary,id):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
emp1=employee1("vysh",22,100000)
emp2=employee2("haris",23,2000,1234)
print(emp1.__dict__)
print(emp2.__dict__)

{'name': 'vysh', 'age': 22, 'salary': 100000}
{'name': 'haris', 'age': 23, 'salary': 2000, 'id': 1234}

In [20]:
#polymorphism compiletime ecxection method overloading
class employee1():
    def name(self):
        print("vysh is her name")
    def salary(self):
        print("30000 is her salary")
    def age(self):
        print("22 is her age")
class employee2():
    def name(self):
        print("harini is her name")
    def salary(self):
        print("10000 is her salary")
    def age(self):
        print("21 is her age")
def func(obj):
    obj.name()
    obj.salary()
    obj.age()
obj_emp1=employee1()
obj_emp2=employee2()
func(obj_emp1)
func(obj_emp2)

vysh is her name
30000 is her salary
22 is her age
harini is her name
10000 is her salary
21 is her age

In [22]:
# runtime polymorphism method overriding
class employee1():
    def __init__(self,name,age,salary,id):
        self.name=name
        self.age=age
        self.salary=salary
        self.id=id
    def earn(self):
        pass
class childemployee1(employee):
    def earn(self):
        print("full money")
class childemployee2(employee):
    def earn(self):
        print("has money")
c=childemployee1
c.earn(employee)
d=childemployee2
d.earn(employee)

full money
has money

In [24]:
#Encapsulation
class Computer:
    def __init__(self):
        self.__maxprice=900
    def sell(self):
        print("selling price: {}".format(self.__maxprice))
    def setMaxPrice(self,price):
        self.__maxprice=price9
c=Computer()
c.sell()
#change the price
c.__maxprice=1000
c.sell()
#using setter function
c.setMaxPrice(1000)
c.sell()

selling price: 900
selling price: 900
selling price: 1000

In [ ]:
r=int(input("r:")
unit=int(input("unit:"))
arr1=[n]

In [8]:
def calculate(r, unit, n, arr):
    # Check for null array or invalid inputs
    if  n == 0:
        return -1
    
    # Calculate total food required
    totalFoodRequired = r * unit
    foodTillNow=0
    house=0
    for house in range(n):
        foodTillNow+=arr[house]
        if foodTillNow>=totalFoodRequired:
            break
    if totalFoodRequired>foodTillNow:
        return 0
    return house + 1
    
    
# Example usage
r=int(input('r:'))
unit=int(input("unit:"))
n=int(input("n:"))
arr=list(map (int, input ("array:").split ()))
print(calculate(r,unit,arr,n))


#result = total_food_for_rats(r, unit, n, arr)
#print(result)

r: 7
unit: 2
n: 8
array: 2

TypeError: 'list' object cannot be interpreted as an integer

In [13]:
def find_count(n,arr, num, diff):
    count = 0
    for i in range(n):
        if (abs(arr[i]- num) <= diff):
            count += 1
    if count:
        return count
    return 0
n=int(input())
arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
print(find_count(n,arr,num,diff))

 6
 12 3 34 56 77 23
 13
 2

1

In [15]:
n=int(input())
m=int(input())
sum1=0
sum2=0
for i in range(1, m+1):
    if i%n==0:
        sum1+=i
    else:
        sum2+=i
print(abs(sum2-sum1))

 4
 20

90

In [4]:
n=int(input("sum:"))
sum1=int(input("size:"))
arr=list(map(int,input("array:").split()))
if n<2:
    print("-1")
arr=sorted(arr)
for i in range(n-1):
    if arr[i]+arr[i+1]<sum1:
        print(arr[i]*arr[i+1])
        break
else:
    print("0")

sum: 3
size: 4
array: 1 2 3 4 5

2

In [6]:
inp=input()
count=0
final=""
for i in inp:
    if i=='-':
        count+=1
    else:
        final+=i
print("-"*count,final)

 Vysh-from-ece

-- Vyshfromece

In [11]:
def swap(user_input,str1,str2):
    result=''
    if user_input!=None:
        result=user_input.replace(str1, '*').replace(str2,str1).replace('*',str2)
        return result
    return 'Null'
user_input=input()
str1,str2=map(str,input().split())
print(swap(user_input,str1,str2))

 apple
 a e

eppla

In [29]:
arr=list(map(int,input("array:").split()))
n=int(input("n:"))
sum=0
if i%2!=0:
    sum=sum+i
    print(sum)

array: 1 4 6 7 10 12 11 5
n: 7

TypeError: not all arguments converted during string formatting

In [27]:
def SumOddIntegers(arr):
    # Calculate sum of odd numbers using list comprehension
    return sum(x for x in arr if x % 2 != 0)

# Example usage
arr = [1, 4, 6, 7, 10, 12, 11, 5]
result = SumOddIntegers(arr)
print(result)

TypeError: 'int' object is not callable

In [26]:
def SumOddIntegers(arr):
    sum=0
    if n%2!=0:
        sum=sum+n
        print(sum)

In [5]:
def SumOddIntegers(arr):
    # Calculate sum of odd numbers using list comprehension
    return sum(x for x in arr if x % 2 != 0)

# Example usage
arr = [1, 4, 6, 7, 10, 12, 11, 5]
result = SumOddIntegers(arr)
print(result)  # Output: 24

24

In [6]:
def SumOddIntegers(arr):
    # Calculate sum of odd numbers using list comprehension
    return sum(x for x in arr if x % 2 != 0)

# Example usage
arr = [1, 4, 6, 7, 10, 12, 11, 5]
result = SumOddIntegers(arr)
print(result)  # Output: 24

24

In [ ]:
import java.util.*;
import java.lang.*;
import java.io.*;
class InvCount{
    public static void main(string[] args)
    {
        Scanner in = new Scanner

In [ ]:
def swap(user_input,str1,str2):
    result=''
    if user_input!=None:
        result=user_input.replace(str1,'*').replace(str2,str1).replace('*',str2)
        return result
    return 'Null'
user_input=input()
str1,str2=map(str,input().split())
print(swap(user_input

In [16]:
def inversion(arr):
    ans=0
    for i in range(len(arr)):
            for j in range(i+1,len(arr)):
                if arr[j]<arr[i]:
                    ans+=1
    return ans
array=[1,20,6,4,5]
print(inversion(array))

5

In [17]:
# Input: list of finish times
times = [12.5, 10.0, 11.2, 13.3]

# Find the first-place time
first_place_time = min(times)

# Calculate the average finish time
average_time = sum(times) / len(times)

# Output
print((first_place_time, average_time))

(10.0, 11.75)

In [20]:
def race(times):
    return(len(times),sum(times)/len(times))
print(race(12.5,10.0,11.2,13.3))

TypeError: race() takes 1 positional argument but 4 were given

In [23]:
def race_results(times):
    if not times:
        return None,0
    first_pace_time=min(times)
    average_time=sum(times)
    return(first_place_time,average_time)

In [24]:
def race_results(times):
    if not times:
        return None,0
    first_pace_time=min(times)
    average_time=sum(times)
    return(first_place_time,average_time)

In [32]:
def unique_pairs(animal_ids):
    pairs=[]
    for i in range(len(animal_ids)):
        for j in range(i+1,len(animal_ids)):
            pairs.append((animal_ids[i],animal_ids[j]))
    return pairs

In [33]:
def max_coins(chests):
    max_sum = chests[0]
    current_sum = chests[0]
    
    for coins in chests[1:]:
        # Either start a new subarray at this chest or extend the current one
        current_sum = max(coins, current_sum + coins)
        max_sum = max(max_sum, current_sum)
    
    return max_sum

# Example usage
coins_list = [2, -3, 4, -1, 2, 1, -5, 4]
print(max_coins(coins_list))  # Output: 6

6

In [1]:
#The royal baker needs a prepare a special cake.Each ingredient has a specific weight.The baker wants to know the total weight of the ingredients and the heaviest ingredient used,
#Input format 
#A list of floating_point numbers representing the weights of the ingredients output format
#Two floating point numbers:the total weight and the heaviest ingridents
arr=list(map (int, input ("array:").split ()))
sum=0
sum=sum(arr)
print(sum)
print(max(arr))

array: 1.2 0.5 2.3 1.8

ValueError: invalid literal for int() with base 10: '1.2'

In [2]:
def cake_ingredients(weights):
    total_weight = sum(weights)          # Sum of all ingredients
    heaviest = max(weights)              # Maximum (heaviest) ingredient
    return (total_weight, heaviest)


# Example usage
ingredients = [1.2, 0.5, 2.3, 1.8]
result = cake_ingredients(ingredients)
print(result)   # Output: (5.8, 2.3)

(5.8, 2.3)

In [5]:
def flowers(colors):
    total_color=sum(colors)
    return (total_color)
colors=[5,3,8,2]
result=flowers(colors)
print(result)

18

In [6]:
def dargon(treasures):
    total_treasure=sum(treasures)
    highest=max(treasures)
    return(total_treasure,highest)
treasures=[200,500,1000,300]
result=dargon(treasures)
print(result)

(2000, 1000)

In [10]:
def clocks(hours):
    total_hours=sum(hours)
    highest=max(hours)
    return(total_hours,highest)
hours=[3,7,5,9]
result=clocks(hours)
print(result)

(24, 9)

In [12]:
def special_sum(arr):
    # Edge cases
    if not arr or len(arr) <= 3:
        return 0

    # Extract even and odd positioned elements
    even_pos = [arr[i] for i in range(0, len(arr), 2)]
    odd_pos = [arr[i] for i in range(1, len(arr), 2)]

    # Sort them
    even_pos.sort()
    odd_pos.sort()

    # Find required elements
    second_largest_even = even_pos[-2] if len(even_pos) >= 2 else 0
    second_smallest_odd = odd_pos[1] if len(odd_pos) >= 2 else 0

    return second_largest_even + second_smallest_odd


# Example
arr = [3, 2, 1, 7, 5, 4]
print(special_sum(arr))  # Output: 7

7

In [1]:
def length_of_longest_substring(s):
    char_set=set()
    left=0
    max_length=0
    for right in range(len(s)):
        while s[right] in char_set:
            char_set.remove(s[left])
            left+=1
            char_set.add(s[right])
        max_length=max(max_length,right-left+1)
    return max_length
print(length_of_longest_substring("abcabcbb"))

8

In [2]:
def is_perfect(n):
    if n == 1:
        return False
    divisors_sum = 0
    for i in range(1, n):
        if n % i == 0:
            divisors_sum += i
    return divisors_sum == n
n = int(input().strip())
if is_perfect(n):
    print("Yes")
else:
    print("No")

 28

Yes

In [4]:
s1=input()
s2=input()
s11=sorted(s1)
s22=sorted(s2)
if s11==s22:
    print("Yes")
else:
    print("No")

 listen
 silent

Yes

In [5]:
def add(a, b): 
return a + b 
print(add(5, 3))

IndentationError: expected an indented block after function definition on line 1 (950097546.py, line 2)

In [8]:
def add(a, b): 
    return a + b 
print(add(5, 3))

8

In [1]:
pizzacost=100
puffcost=20
cooldrink=10
num_pizaa=int(input("No of pizzas:"))
num_puff=int(input("No of puffs:"))
num_cooldrink=int(input("no of cooldrinks:"))
total_price=(num_pizaa*pizzacost)+(num_puff*puffcost)+(num_cooldrink*cooldrink)
print(total_price)

No of pizzas: 5
No of puffs: 4
no of cooldrinks: 6

640

In [2]:
x=int(input("","","",""))
result=asckey_value(x)
print(x)

TypeError: Kernel.raw_input() takes from 1 to 2 positional arguments but 5 were given

In [3]:
a=int(input())
b=int(input())
c=int(input())
d=int(input())
print(a,'-',chr(a))
print(b,'-',chr(b))
print(c,'-',chr(c))
print(d,'-',chr(d))

 65
 66
 67
 68

65 - A
66 - B
67 - C
68 - D

In [15]:
x=int(input("CSE:"))
y=int(input("ECE:"))
c=int(input("MECH:"))
if x|y|c==-1:
    print("input is invalid")
elif x==y==c:
    print("None of the department ha got highest placement")
highest=max(x,y,c)
if highest==x:
    print("CSE")
elif highest==y:
    print("ECE")
else:
    highest==c
    print("Mech")

CSE: 3
ECE: 70
MECH: 32

ECE

In [19]:
m=int(input("m:"))
n=int(input("n:"))
sum=0
#if m<0  or n<0:
 #   return 0
for m in range(1,n):
    if m%n==0:
        sum=sum+m
print(sum)

#The function takes two integrals m and n as arguments. You are required to obtain the total of all integers ranging between 1 to n (both inclusive) which are not divisible by m. You must also return the distinction between the sum of integers not divisible by m with the sum of integers divisible by m.

#Assumption

#m > 0 and n > 0
#Sum lies within the integral range

m: 6
n: 30

0

In [21]:
def differenceofSum(n, m):
    sum_divisible = 0
    sum_not_divisible = 0
    
    for i in range(1, n + 1):
        if i % m == 0:
            sum_divisible += i
        else:
            sum_not_divisible += i
    
    return sum_not_divisible - sum_divisible


# Example
print(differenceofSum(10, 3))  # Expected output = 19

In [25]:
def differenceofSum(n,m):
    sum_divisible=0
    sum_not_divisible=0
    for i in range(1,n+1):
        if i%m==0:
            sum_divisible+=i
        else:
            sum_not_divisible+=i
    return sum_not_divisible-sum_divisible
print(differenceofSum(30,6))

285

ticket=str(input())
reversed_number=ticket[::-1]
print("Number in reverse order:",reversed_number)

In [28]:
ticket=str(input())
reversed_number=ticket[::-1] 
print("Number in reverse order:",reversed_number)

 007

Number in reverse order: 00

In [19]:
def longest_non_palindrome_substring(string):
    if string!=string[::-1]:
        return string
    else:
        return string[1:]
word="malayalam"
result=longest_non_palindrome_substring(word)
print(result)

alayalam

In [24]:
def palindrome_check(word):
    left=0
    right=len(word)-1
    is_palindrome=True
    while left<right:
        if word[left]!=word[right]:
            is_palindrome=False
            break
        left+=1
        right-=1
    if is_palindrome:
        print("palindrome")
    else:
        print("Not a palindrome")
word="malayalam"
palindrome_check(word)

palindrome

In [30]:
str="vyshuuu"
n=2
m=4
result=str[n:-m]
print(result)

s

In [36]:
str1=input("")
str2=input("")
rotated=str1+str2
if str2 in str1:
    print("Rotation found")
else:
    print("Rotation not found")

 malayalam
 lammalaya

Rotation not found

In [2]:
str1=input("")
index=int(input(""))
length=len(str1)
if index<0 or index>=length:
    print("Invalid")
rotated=str1[index:]+str1[:index]
print(rotated)

 programming
 5

ammingprogr

In [4]:
#self wil point to current obj which we will use
#init is the constructor 
#__=
#7->11_>3->2->
def add_last(self,val):
    new_node=Node(val)
    if self.head is None:
        self.head=new_node
    else:
        current=self.head
        while current.next is not None:
            current=current.next
        current.next=new_node

In [6]:
class StackProgram:
    def __init__(self):
        self.stack=[]
    def push(self,value):
        self.stack.append(value)
    def pop(self):
        if not self.is_empty():
            return self.stack.pop()
        return "stack is empty"
    def peek(self):
        if not self.is_empty():
            return self.stack[-1]
        return "stack is empty"
    def is_empty(self):
        return len(self.stack)==0
if __name__=="__main__":
    stack=StackProgram()
    stack.push(10)
    stack.push(20)
    stack.push(30)
    print("Top element:",stack.peek())
    print("Popped element:",stack.pop())
    print("Popped element:",stack.pop())
    print("Is stack empty?:",stack.is_empty())

Top element: 30
Popped element: 30
Popped element: 20
Is stack empty?: False

In [ ]:
class StackProgram:
    def __init__(self):
        self.stack=[]
    def push(self,value):
        self.stack.append(value)
    def pop(self):
        if not self.is_empty():
            return self.stack.pop()
        return "stack is empty"
    def peek(self):
        if not self.is_empty():
            return self.stack[-1]
        return "stack is empty"
    def is_empty(self):
        return len(self.stack)==0
if __name__=="__main__":
    stack=StackProgram(4)
    while not chest.is_full():
        value=input("Enter item: ")
        chest.push(value)
        while not chest
    stack.push(10)
    stack.push(20)
    stack.push(30)
    print("Top element:",stack.peek())
    print("Popped element:",stack.pop())
    print("Popped element:",stack.pop())
    print("Is stack empty?:",stack.is_empty())

In [ ]:
stack with list
push->append()
pop->pop()
stack=[]
stack.append(10)
stack.pop(20)
2.stack with deque
push->append()
pop->pop()
from collections import deque
stack=deque()
3.queue within list
4.queue with deque(best way)
enqueue->append()
dequeue->popleft()
from cllections import deque
queue=deque()
queue.append(10)
queue.append(20)
x=queue.popleft()

In [11]:
#implement stack using 
class SimpleQueue:
    def __init__(self):
        self.queue=deque()
    def enqueue(self,value):
        self.queue.append(value)
    def dequeue(self):
            return self.queue.popleft()
        if not self.is_empty():
        return "stack is empty"
    def front(self):
        if not self.is_empty():
            return self.queue[0]
        return "stack is empty"
    def is_empty(self):
        return len(self.queue)==0
    def get_size(self):
        return len(self.queue)
if __name__== "__main__":`
    queue=SimpleQueue()
    queue.add_item(10)
    queue.add_item(20)
    queue.add_item(5)
    print("Actual size:",queue.get_size())
    print("Removed:",queue.remove_item())
    print("Front:",queue,front())
    print("Is Empty?",queue.is_empty())

NameError: name 'dequeue' is not defined

In [16]:
def climbStaris(n):
    if n<=1:
        return 1
    return climbStaris(n-1)+climbStaris(n-2)
n=5
ways=climbStaris(n)
print(f"Number of ways to climb {n} stairs: {ways}")

Number of ways to climb 5 stairs: 8

In [27]:
def climbStaris(n):
    if n>=1:
        return n
    return climbStaris(n-1)+climbStaris(n-2)
n=4000000
ways=climbStaris(n)
print(f"Number of ways to climb {n} stairs: {ways}")

Number of ways to climb 4000000 stairs: 4000000

In [2]:
def fibonacci(n):
    a,b=0,1
    fib_series=[]
    for i in range(n):
        fib_series.append(a)
        a,b=b,a+b
    return fib_series
print(fibonacci(n))

NameError: name 'n' is not defined

In [26]:
from functions import lru_cache
@lru_cache(maxsize=None)
def fibr(n):
    if n<=1:
        return n
    return fibr(n-1)+fibr(n-2)

ModuleNotFoundError: No module named 'functions'

In [3]:
def minimize_coin(amount,coins):
    coins.sort(reverse=True)
    change=[]
    for coin in coins:
        while coin<=amount:
            amount-=coin
            change.append(coin)
    return change
amount=120
coins=[2,5,10,20,50]
purse=minimize_coin(amount,coins)
print("coins used:",purse)

coins used: [50, 50, 20]